#SPDX-License-Identifier: MIT-0
---
# tasks file for ansible_azure_arc

- name: Check if azcmagent is already downloaded
  ansible.builtin.stat:
    path: /usr/bin/azcmagent
    get_attributes: false
    get_checksum: false
  register: azcmagent_lnx_downloaded
  when: ansible_system == 'Linux'

- name: Download Connected Machine Agent for Linux
  become: true
  ansible.builtin.get_url:
    url: https://aka.ms/azcmagent
    dest: ~/install_linux_azcmagent.sh
    mode: '700'
  when: (ansible_system == 'Linux') and (not azcmagent_lnx_downloaded.stat.exists)

- name: Install Connected Machine Agent
  become: true
  ansible.builtin.command:
    cmd: bash ~/install_linux_azcmagent.sh
    creates: /usr/bin/azcmagent
  when: (ansible_system == 'Linux') and (not azcmagent_lnx_downloaded.stat.exists)

- name: Check Connection
  become: true
  ansible.builtin.command:
    cmd: azcmagent check --cloud AzureCloud --location {{ azure.location }}
  register: azcmagent_lnx_connected
  ignore_errors: true
  when: ansible_system == 'Linux'
  failed_when: (azcmagent_lnx_connected.rc not in [ 0, 16 ])
  changed_when: false

- name: Connect to Azure Arc
  become: true
  ansible.builtin.shell:
    cmd: >
      azcmagent connect --service-principal-id "{{ azure.service_principal_id }}"
      --service-principal-secret "{{ azure.service_principal_secret }}"
      --resource-group "{{ azure.resource_group }}"
      --tenant-id "{{ azure.tenant_id }}"
      --location "{{ azure.location }}"
      --subscription-id "{{ azure.subscription_id }}"
      --tags "ArcSQLServerExtensionDeployment=Disabled"
  when: (ansible_system == 'Linux') and (azcmagent_lnx_connected.rc is defined and azcmagent_lnx_connected.rc == 0)
  changed_when: azcmagent_lnx_connected.rc == 0
